@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
    padding:0px;
    margin:0px;
    outline: 0px;
    font-family: 'Poppins', 'cursive';
}

.main{
    background-color: #F8F8FA;
}

.section1{
    background-color: #4718FE;
    position: relative;
    height: 570px;
}

.header{
    padding:50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
}

.nav-item{
    display: inline;
    margin:0px 10px;
}

.nav-item.active{
    background-color: #fff;
    padding:10px;
    border-radius: 5px;
    color:#4718FE;
}

.search-icon{
    width: 20px;
}

.section1-bottom{
    padding-left:50px;
}

.quote{
    padding-top:10%;
    color:#ffffff;
}

.quote h2{
    font-size: 35px;
}

.quote h4{
    padding:20px 0px;
    font-size: 20px;
}

.tech-img{
    float: right;
}

.company-names{
    height: 50px;
    background-color: #F8F8FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 15px;
}

.company-names h4{
    font-family: 'Righteous', 'cursive';
    font-size: 20px;
}

.api-heading{
    font-size: 40px;
    font-weight: 700;
    padding:20px 0px;
}

.section2{
    margin:120px 50px;
}

.api-cats{
    margin:10px 0px;
    display: flex;
    justify-content: space-between;
}

.cat{
    padding:20px;
}

.cat.active{
    box-shadow: 2px 2px 4px 4px #1f1f1f1f;
    border-radius: 10px;
    background-color: #fff;
}

.cat-image{
    margin:5px 0px;
}

.cat-para{
    margin:20px 0px;
}

.cat-heading{
    font-size: 25px;
    font-weight: unset;
}

.section3{
    margin:120px 50px;
}

.section3-heading{
    font-size: 40px;
    font-weight: 700;
    padding:20px 0px;
}

.section3-header{
    padding: 20px 0px;
}

.section3-heading{
    display: inline;
}

.see-article-btn{
    float: right;
    color:#5B33FC;
    font-weight: 700;
}

.blogs{
    display: flex;
    justify-content: space-between;
}

.blog{
    width: 45%;
    box-shadow: 2px 2px 4px 4px #1f1f1f1f;
    border-radius: 50px 10px 10px 10px;
    background-color: #fff;
    display: flow-root;
}

.blog-img{
    float: left;
    margin-right: 20px;
}

.blog-img img{
    width: 250px;
}

.blog-content{
    padding-top:40px;
    padding-right: 20px;
}

.blog-date{
    margin:10px 0px;
}

.blog-heading{
    font-size: 20px;
    font-weight: 700;
}

.blog-desc{
    margin:10px 0px;
    font-size: 12px;
}

.blog-author{
    text-align: left;
}

.section4{
    display: flow-root;
    background-color: #E9EDFF;
    height: fit-content;
    padding-left:20px;
}

.section4-content h2{
    font-size: 40px;
    width: 200px;
}

.section4-content p{
    margin:10px 0px;
}

.section4-content h4{
    margin:10px 0px;
}

.search-img {
    float: right;
}

.search-img img{
    width: 500px;
}

.section5{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.download-now{
    font-size: 30px;
}

.download-now span{
    font-weight: 700;
}

.download-btn{
    float: right;
}

.section6{
    background-color: #4718FE;
}

.footer{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 100px;
    color:#ffffff;
}

.footer-item{
    display: inline;
    margin:0px 5px;
}

.footer-nav1, .footer-nav2{
    margin:10px 0px;
}

.contact-btn button{
    padding:10px 20px;
    border:none;
    border-radius: 5px;
    background-color: #5A31FC;
    color:#ffffff;
}

.social-btns-grp{
    display: flex;
    justify-content:flex-end;
}

.social-btns-grp img{
    margin:0px 10px;
}

.email-input{
    width: 500px;
    border-radius: 20px;
    background-color: #E9EDFF;
}

#email{
    padding:12px 20px;
    border:none;
    background: transparent;
}

.download-btn button{
    padding:10px 30px;
    border:none;
    border-radius: 20px;
    background-color: #5A31FC;
    margin:2px 0px;
    color:#ffffff;
}

@media (max-width:1200px){
    .section1{
        background-color: #4718FE;
        position: relative;
        height: 480px;
    }
    
    .tech-img img{
        width: 450px;
    }

    .quote{
        padding-top: 5%;
    }

    .quote h2{
        font-size: 30px;
    }
    
    .quote h4{
        font-size: 15px;
    }

    .company-names h4{
        font-size: 18px;
    }

    .cat{
        padding:10px 10px;
    }

    .cat-heading{
        font-size: 20px;
    }

    .cat-para{
        font-size: 13px;
    }

    .blog-img{
        display: none;
    }

    .blog{
        display: block;
    }
    
    .blog-content{
        padding:20px;
    }
}


@media (max-width:900px){

    .header{
        padding:20px 20px;
    }

    .tech-img{
        display: none;
    }

    .logo img{
        width: 100px;
    }

    .nav-item{
        display: none;
    }

    .nav-item.active{
        display: block;
        font-size: 15px;
    }

    .section1{
        height:300px;
    }

    .section1-bottom{
        padding-left:20px;
        padding-right:20px;
    }

    .company-names{
        justify-content: space-around;
    }

    .quote h2{
        font-size: 22px;
    }
    
    .quote h4{
        font-size: 12px;
    }

    .company-names h4{
        font-size: 15px;
    }

    .section2, .section3{
        margin:20px 20px;
    }

    .api-heading{
        font-size: 25px;
    }

    .api-cats{
        flex-direction: column;
    }

    .cat-para{
        margin:10px 0px;
    }

    .cat-image{
        float: left;
        margin-right:10px;
    }

    .blogs{
        flex-direction: column;
    }

    .blog{
        width: unset;
        margin:10px 0px;
    }

    .section3-heading{
        font-size: 25px;
    }

    .search-img{
        display: none;
    }

    .section4-content h2{
        font-size: 30px;
    }
    
    .section4-content p{
        font-size: 15px;
    }
    
    .section4-content h4{
        font-size: 15px;
    }

    .section5{
        flex-direction: column;
        height: 150px;
    }

    .email-input{
        width: 380px;
    }

    #email{
        width: 200px;
    }

    .footer{
        flex-direction: column;
        height: unset;
        padding:20px 0px;
        text-align: center;
        margin:0px 20px;
    }

    .footer-right{
        margin-top:20px;
    }

    .social-btns-grp{
        justify-content: center;
    }

    .footer-logo img{
        width: 100px;
    }

    .download-now span{
        font-size: 25px;
    }
}